*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 1px solid black;
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}